/**
Scrolling Mouse
HTML:
<svg class="mouse" xmlns="..." viewBox="0 0 76 130" preserveAspectRatio="xMidYmid meet">
  <g fill="none" fill-rule="evenodd">
  <rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36"/>
  <circle cx="36.5" cy="31.5" r="4.5" fill="#FFF"/>
  </g>
</svg>
*/

.snippet {

  .scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
  }

  @keyframes scroll {
    0%, 20% {
    transform: translateY(0) scaleY(1);
    }
    10% {
    opacity: 1;
    }
    100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
    }
  }

  .scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform;
  }

}





/**
* Triangle
*/
.snippet {

  .triangle-top-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-bottom-color: transparent !important;
  }

}
