.aos-immersive {
  background: linear-gradient(to bottom, #2d465e 0%, #24394c 80%);
  height: 100vh;
  margin-top: 0px;
  padding-top: 25px;
}

.page-template-page-architecture-of-surveillance #page .container-inner,
.page-template-page-architecture-of-surveillance-landing #page .container-inner {
  background-color: transparent;
  max-width: 1600px;
  box-shadow: none;
}

.page-template-page-architecture-of-surveillance .main-inner,
.page-template-page-architecture-of-surveillance-landing .main-inner {
  padding-left: 0px;
  padding-right: 0px;
}

.page-template-page-architecture-of-surveillance .container-inner .main,
.page-template-page-architecture-of-surveillance-landing .container-inner .main {
  background-color: transparent!important;
  padding-top: 40px;
}

.page-template-page-architecture-of-surveillance .container-inner > .main::before,
.page-template-page-architecture-of-surveillance .container-inner > .main::after,
.page-template-page-architecture-of-surveillance-landing .container-inner > .main::before,
.page-template-page-architecture-of-surveillance-landing .container-inner > .main::after {
  display: none;
}

.page-template-page-architecture-of-surveillance .container-inner .main h1 {
  color: #fff;
  text-align: center;
}

.aos-page-title {
  color: #fff;
  font-family: 'orbitron';
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.aos-intro-image {
  max-width: 600px;
  margin: 0 auto;
}

.aos-infographic__info {
  background: transparent;
  border: 2px solid black;
  bottom: 40px;
  left: 20px;
  right: 20px;
  color: #fff;
  height: 40vh;
  padding: 20px;
  position: absolute;
  overflow: scroll;
}

@media only screen and (min-width: 600px) {
  .aos-infographic__info {
    background: #000;
    height: 100vh;
    left: 0px;
    padding-top: 100px;
    opacity: 0.5;
    top: 0px;
    width: 25%;
  }
}

.aos-infographic__text {
  display: none;
}

.aos-infographic__title {
  font-size:24px;
  margin-bottom:0px;
}

.aos-infographic__display {
  text-shadow: 2px 2px 4px #000000;
}

@media only screen and (min-width: 600px) {
  .aos-infographic__display {
    min-height: 572px;
  }
}

.aos-infographic_intro {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 600px) {
  .aos-infographic_intro {
    margin-left: 25%;
  }
}

.aos-list {
  list-style: disc;
  margin-left: 20px;
}

.aos-list li {
  margin-left: 0px!important;
}

.aos-infographic__nav {
  bottom: 43vh;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media only screen and (min-width: 600px) {
  .aos-infographic__nav {
    bottom: 0px;
    margin-top: 20px;
    margin-right: 0px;
    position: relative;
  }
}

.m-hidden {
  visibility: hidden;
  opacity: 0;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.aos-infographic_intro .button {
  background-color: #FFF;
  border: 2px solid #000;
  color: #333;
  display: block;
  height: 45px;
  text-align: center;
  width: 45px;
}

.aos-infographic_intro .button:hover {
  background-color: #EDFBFF;
}

.aos-infographic_intro .button img {
  display: block;
  height: 45px;
  width: 45px;
}

#infographicPrev {
  transform: rotate(180deg);
  margin-right:20px;
}

.aos-infographic__info h2 {
  color: #fff;
}

.aos-infographic {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.aos-landing {
  padding: 20px;
}

.aos-landing__description {
  color: white;
  font-size: 20px;
  max-width: 680px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin: 0 auto;
}

.aos-landing-title {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.aos-landing-subtitle {
  color: #fff;
  font-size: 30px;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  text-transform: uppercase;
}

.aos-landing__nav {
  font-size: 20px;
  justify-content: center;
}

.aos-landing__nav .button {
  background-color: transparent;
  border: 5px solid #000;
  color: #000;
  font-weight: bold;
  display: block;
  padding: 25px;
  text-align: center;
  margin:40px;
}

.aos-landing__nav .button:hover {
  background-color: #EDFBFF;
}

@media only screen and (min-width: 600px) {
  .aos-infographic {
    flex-direction: row;
  }

  .aos-landing__nav {
    display: flex;
  }
}

.aos-infographic__animation {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .aos-infographic__animation {
    margin-left: 27%;
  }
}

.video-consainer {
  display: none;
}

#videoCanvas {
  box-shadow: 0 5px 21px 2px #000;
  margin: 0px;
  max-width: 1180px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  #videoCanvas {
    width: 98%;
  }
}